<ul>
  <% if !current_user %>
    <li><a href="/">Login</a></li>
  <% end %>
  <% if current_user %>
    <li><a href="/user/home">Home</a></li>
    <li><a href="/user/logout">Logout</a></li>
  <% end %>
</ul>
