  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">Login</a></li>
    <li><a href="#">Logout</a></li>
    <li><a href="#">Profile</a></li>
    <% #if user logged in %>
      <!--<li><a href="/logout">Logout</a></li>-->
    <% #end %>
  </ul>
