 <div class="add_title">
  <h2></h2>

    <form class="form" action="/surveys" method="post">
        <label for="title">Title</label>
        <input id="title" type="text" name="title" placeholder="Title"><br>
    </form>

</div>
