<% @questions.each_with_index do |question,index| %>
  <%=index+1%>. <%=question.content%><br>
  <ul>
  <% question.options.each do |option|%>
    <li><%= option.answer %> <%= ((option.responses.length).to_f / (question.responses.length).to_f).round(2) * 100 %>%  </li>
  <%end%>

  </ul>
<%end%>
